* {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}

/* header */
header {
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu {    
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    transition: 0.2s;
}
.menu ul {
    position: relative;
    display: flex;
    width: auto; 
}
.menu li {
    list-style: none;
    width: auto;
    padding: 0px 10px;
}
.menu li a {
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px 10px;
}

/* burger */
.burger {
    display: none;
}
label {
    cursor: pointer;
}
.burger-icon {
    width: 30px;
    scale: 1.5;
    border: 0;
    margin: 0px;
}
.burger-icon,
.burger-icon::before,
.burger-icon::after {
    display: block;
    border-radius: 2px;
    height: 2.2px;
    background: #282828;
}
.burger-icon::before,
.burger-icon::after {
    content: "";
    position: absolute;
    width: 60%;
}
.burger-icon::before {
    top: -8px;
    right: 0;
}
.burger-icon::after {
    top: 8px;
    left: 0;
}
.burger-icon::before,
.burger-icon::after {
    transition-duration: 0.15s;
    transition-timing-function: linear;
}
.burger input {
    position: absolute;
    scale: 0;
    margin: 0;
    padding: 0;
}
.burger input:checked ~ .burger-icon {
    background-color: transparent;
}
.burger input:checked ~ .burger-icon::before,
.burger input:checked ~ .burger-icon::after {
    width: 30px;
}
.burger input:checked ~ .burger-icon::before {
    transform: rotate(-45deg);
    top: 0px;
}
.burger input:checked ~ .burger-icon::after {
    transform: rotate(45deg);
    top: 0px;
}

/* main content */
.content {
    display: flex;
    height: 350px;
}
.one {
    background-color: #3a3a5b;
}
.two {
    background-color: #4A4E69;
}
.three {
    background-color: #9A8C98;
}
.four {
    background-color: #C9ADA7;
}
.five {
    background-color: #F2E9E4;
}
/* scroll to top button */
.btn_to_top {
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    background-color: white;
    border-radius: 100%;
    border: none;
    display: none;
}
.btn_to_top svg {
    width: 40px;
    margin: 0;
    padding: 0;
    fill: black;
}
.btn_to_top svg:hover {
    cursor: pointer;
}
.btn_to_top:hover {
    background-color: rgb(136, 161, 176);
}

/*  */
@media (max-width: 821px) {
    .burger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        display: grid;
        place-items: center;
        width: 60px;
        height: 60px;
    }
    .menu {
        display: none;
    }
    body.open .menu {
        display: flex;
        height: 100vh;
        backdrop-filter: blur(5px);
    }
    .menu ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .menu li {
        padding: 1px 0px;
    }
    .menu li a {
        padding: 20px;
        justify-content: center;
        font-size: 30px;
        letter-spacing: 10px;
        text-transform: uppercase;
        
    }
    .btn_to_top {
        bottom: 1.5rem;
        right: 1.5rem;
    }
    .btn_to_top svg {
        width: 60px;
        margin: 0;
        padding: 0;
        fill: black;
    }
}